
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    scroll-behaviour: smooth;
}
h2{
  letter-spacing: 1px;
}
.dots{
  display:inline-block;
  justify-content: space-around;
}
.dot{
  font-size: 25px;
  letter-spacing: 10px;
}
span{
  color:orange;
}
/* About */
.navbar {
  text-align: center;
  background-color: #222;
  border-radius: 15px;
  box-shadow:2px 2px 2px hsl(0, 1%, 23%);
  justify-content:center;
  position:sticky;
  top:-3%;
  z-index: 1000;
}

.navbar ul {
  list-style-type: none;
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar ul li {
  display: inline-block;
  display:flex;
}

.navbar ul li a {
  color: white;
  position: relative;
  padding:1rem;
  text-decoration: none;
  font-size:clamp(16px,1.1rem,24px)
}
.navbar {
  animation: fadeIn 1s ease-in-out;
}
.navbar:hover {
  box-shadow:3px 3px hsl(0, 1%, 23%);
}

.navbar ul li a::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color:orange;
  transition: 0.3s ease-in-out;
}

.navbar ul li a:hover::before {
  width: 100%;
  opacity: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cust-navbar{
  display: none;
}
@media (max-width: 768px),(max-width: 480px),(max-width: 320px){
.navbar{
  display: none;
}
.cust-navbar {
  display: block;
  text-align: center;
  background-color: #222;
  border-radius: 15px;
  box-shadow:2px 2px 2px hsl(0, 1%, 23%);
  justify-content:center;
  position: fixed;
  bottom:1px;
  left:0;
  z-index: 1000;
}

.cust-navbar ul {
  list-style-type: none;
  padding: 1px;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.cust-navbar ul li {
  display: inline-block;
  display:flex;
}

.cust-navbar ul li a {
  color: white;
  position: relative;
  padding:15px;
  text-decoration: none;
  font-size:clamp(12px,1rem,14px)
}
.cust-navbar {
  animation: fadeIn 1s ease-in-out;

}
}
main {
    padding: 1.5vh;
}

article {
    display: block;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    width: 90%;
    margin-left: 5%;
    background-color: #111;
    position: sticky;
}

.block1 {
    width: 20%;
    height: 100vh;
    background-color:hsl(240, 2%, 12%);
    color: #fff;
    text-align: center;
    padding: 2vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border-radius: 2.5vh;
    box-shadow:0  2px hsl(0, 1%, 23%);
    overflow-y:auto;
    scrollbar-width: none;
  }
.block2 {
    width: 70%;
    height: 100vh;
    background-color:hsl(240, 2%, 12%);
    color: #fff;
    text-align: center;
    padding: 2vh;
    margin-top: 3vh;
    margin-bottom: 2vh;
    border-radius: 2.5vh;
    box-shadow:0  2px hsl(0, 1%, 23%);
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    .block1, .block2 {
        width: 100%;
        padding: 1vh;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding: 1vh;
        font-size: auto;
    }
}

@media (max-width: 480px) {
    .block1, .block2 {
       font-size: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding: 1vh;
    }
}

@media (max-width: 320px) {
    .block1, .block2 {
        font-size: auto;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding: 1vh;
    }
}
@media (max-width:768px),(max-width:480px),(max-width:320px){
  .block1, .block2{
    min-height:100vh;
  }
}
@media (max-width: 768px) {
  .block {
      width: 90%;
      margin-top: 5vh;
      margin-bottom: 5vh;
      font-size: auto;
      gap:0;
      padding: 1vh;
      flex-direction: column;
  }
}

@media (max-width: 480px) {
  .block {
      padding: 1vh;
      gap:0;
      flex-direction: column;
  }
}

@media (max-width: 320px) {
  .block {
      font-size: auto;
      padding:1vh;
      gap:0;
      flex-direction: column;
  }
}

.grid-container-1{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  gap:1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.grid-item-1{
  background-color:#3333;
  padding:1rem;
  height:auto;
  border-radius: 15px;
  box-shadow:0  2px hsl(0, 1%, 23%);
}
.grid-item-1 i{
  color:orange;
  font-size: 25px;
}
@media (max-width:768px),(max-width:480px),(max-width:320px){
  .grid-container-1{
    grid-template-columns: repeat(1,1fr);
  }
}
.grid-container-2{
  margin: 0 auto;
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left:3px;
  overflow-x: auto;
}
.grid-item-2{
  background-color:#3333;
  padding:20px;
  min-width: 27vw;
  height: auto;
  display:inline-block;
  flex-direction: row;
  border-radius: 15px;
  box-shadow:0  2px hsl(0, 1%, 23%);
}
.grid-item-2 i{
  font-size: 25px;
  padding: 1rem;
  border-radius: 10px;
  color: orange;
  background-color: #333;
}
@media (max-width: 768px),(max-width: 480px),(max-width: 320px){
  .grid-item-2{
    margin:0;
    min-width:75vw;
  }
}
::-webkit-scrollbar{
  width: 5px;
  height:5px;
}
::-webkit-scrollbar-track{
  background: #dddddd;
  border-radius: 5px;
} 
::-webkit-scrollbar-thumb{
  background: rgba(58, 56, 56, 0.896);
  border-radius: 5px;
} 
.grid-conatiner-2::-webkit-scrollbar-track{
  background: #dddddd;
  border-radius: 5px;
} 

.grid-container-2::-webkit-scrollbar-thumb{
  background:orange;
  border-radius: 5px;
}
@media (max-width: 768px),(max-width: 480px),(max-width: 320px){
  ::-webkit-scrollbar-track,::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar{
    width:0;
   }
}
@media (max-width: 768px),(max-width: 480px),(max-width: 320px){
  article{
      padding-bottom:2rem;
  }
}
#about p{
  margin-top:1.5rem;
  letter-spacing: 1px;
  line-height: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

/* Side Panel */
.panel{
  display: inline-block;
}
.text{
  overflow:hidden;
  max-width:max-content;
  font-size: 1.6rem;
  font-weight:70;
  white-space:nowrap;
  animation: typing 3s infinite linear;
}
@keyframes typing{
  from{
    width:0;
  }
  to{
    width:100%;
  }
}
@media (max-width: 768px),(max-width: 480px),(max-width: 320px){
  .text{
    margin:0 auto;
  }
}
.icon{
  margin:0 auto;
  justify-content:center;
  align-items:center;
  height:150px;
  width:10rem;
  background-color:#3333;
  box-shadow:0  2px hsl(0, 1%, 23%);
  border-radius: 25px;
}
.frame{ 
  margin:0 auto;
  justify-content:center;
  align-items:center;
  width: 120px;
  height:120px;
  padding: 15px;
  border-radius: 50px;

}
.icon:hover{
  box-shadow: 3px 3px hsl(0, 1%, 23%);
}
.grid-container-3{
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(1,1fr);
  gap:1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid-item-3{
  background-color:#3333;
  padding:1rem;
  min-width:10vw;
  height: auto;
  flex-direction:column;
  border-radius: 15px;
  box-shadow:0  2px hsl(0, 1%, 23%);
}
.grid-item-3 i{
  color: orange;
  background-color: #333;
  border-radius: 5px;
  padding:10px;
}
.grid-container-3 p {
  float: left;
  text-align:left;
}
.grid-item-3:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
  box-shadow: 3px 3px hsl(0, 1%, 23%);
}
@media (max-width: 768px) {
  .grid-container-3,.grid-item-3{
      gap:15px;
      flex-direction: column;
      grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 480px) {
  .grid-container-3,.grid-item-3{
      gap:15px;
      flex-direction: column;
      grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 320px) {
  .grid-container-3,.grid-item-3{
      gap:15px;
      flex-direction: column;
      grid-template-columns: repeat(1,1fr);
  }
}

/* resume */

.container{
  margin:0 auto;
  width:80%;
  height:200px;
  display:flex;
  justify-content: center;
  gap:10px;
  padding: 1rem;
}
.container .img{
  width:10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border:1px solid hsl(0, 1%, 23%);
  transition:all ease-in-out 0.5s;
}
.container .img:hover{
  width:100%;
}

.Button {
  max-width:max-content;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid orange;
  background: orange;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.b{
  max-width:max-content;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid #fff;
  background:#fff;
  color:orange;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
#resume p{
  margin-top:1.5rem;
  letter-spacing: 1px;
  font-family:Arial, Helvetica, sans-serif;
}
#resume p{
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  line-height: 20px;
}
@media (max-width:768px),(max-width:480px),(max-width:320px) {
  .container{
    display: none;
  }
}
/* Portfolio, blog */
#portfolio p, #blog p{
  font-size: 1rem;
}
.grid-container-4{
  margin:0 auto;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  gap:1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid-item-4-1, .grid-item-4-2, .grid-item-4-3, .grid-item-4-4 {
  font-size: 1.2rem;
  align-items:center;
  justify-content: center;
  background-color: #3333;
  padding:1rem;
  border-radius:1rem;
  box-shadow:0  2px hsl(0, 1%, 23%);
}
.grid-item-4-1 .img-1, .grid-item-4-2 .img-1, .grid-item-4-3 .img-1, .grid-item-4-4 .img-1{
  padding: 1rem;
  height:30vh;
  width:90%;
  cursor:pointer;
}
@media (max-width: 768px) {
  .grid-container-4,.grid-item-4-1,.grid-item-4-2,.grid-item-4-3,.grid-item-4-4{
      padding:1vh;
      height: auto;
      font-size: auto;
      flex-direction: column;
      grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 480px) {
  .grid-container-4,.grid-item-4-1,.grid-item-4-2,.grid-item-4-3,.grid-item-4-4 {
      padding:1vh;
      height: auto;
      font-size: auto;
      flex-direction: column;
      grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width: 320px) {
  .grid-container-4,.grid-item-4-1,.grid-item-4-2,.grid-item-4-3,.grid-item-4-4{
      font-size: auto;
      height: auto;
      padding:1vw;
      flex-direction: column;
      grid-template-columns: repeat(1,1fr);
  }
}

/*  */


#contact{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(1 ,1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
}
#contact-form{
  align-items: center;
  justify-content: center;
}
.container-contact {
  background: rgba(28, 28, 28, 0.5);
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
  align-items: center;
  justify-content: center;
}
.form-group{
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
  color: black;
}

textarea {
  height: 100px;
  resize: none;
}

.btn-contact {
  width: 30%;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: orangered;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

.btn-contact-1:hover {
  background: #db4019;
}

.img-2 iframe {
  width: 80%;
  height: 350px;
  border-radius:1rem;
}

.map-info-1, .map-info-2 {
  color: #fff;
  text-align: center;
  padding: 1rem;
}


@media(max-width:768px),(max-width:480px),(max-width:320px)  {
   .contact {
    width: 100%;
  }
  .img-2 {
    padding: 0px;
  }
  .img-2 iframe {
    width: 90%;
    height: 40vh;
  }
  .form-group{
    width:90%;
    margin-bottom: 15px;
  } 
  input, textarea {
    width: 100%;
  }
  .btn-contact{
    width: 60%;
  }
}
